<div class="container">
    <div class="md-form mt-0">
        <input #imageSearchInput [(ngModel)]="query" class="form-control" type="text" placeholder="Put a keyword to search images" aria-label="Search">
    </div>

    <div *ngIf="isLoading" style="text-align: center; margin-top: 2em;">
        <div class="spinner-border text-primary" role="status">
            <!-- <span class="sr-only">Loading...</span> -->
        </div>
    </div>

    <div class="container my-4">
        <div *ngIf="!isLoading && images.length > 0" class="row">
                <div class="no-style col-lg-3 col-md-4 col-sm-6 col-xs-12 mb-4" *ngFor="let image of images" >
                    <a [routerLink]="['/image', image.id]" class="animate__animated animate__bounce animate__fadeIn">
                        <div class="image-wrapper">
                            <img src="{{image.urls.thumb}}" alt="{{image.id}}">
                        </div>
                        
                    </a>
                </div>
        </div>


    
      </div>
    
    
</div>