<div class="container mt-5">
    <div *ngIf="image" class="row animate__animated animate__bounce animate__fadein">
        <div class="col-md-9">
            <ul>
                <li>Id: {{image.id}}</li>
                <li>Date: {{image.created_at}} </li>
                <li>Author: <a [href]="image.author_url" target="_blank" rel="noopener noreferrer">{{image.author}}</a></li>
                <li *ngIf="image.description">Description: {{image.description}}</li>
                <li>Url: <a [href]="image.urls.full" target="_blank" rel="noopener noreferrer">{{image.urls.full}}</a></li>
                <img src="{{image.urls.small}}" alt="">
            </ul>
        </div>

        <div class="col-md-3">
            <a routerLink="/" class="btn btn-danger">Back</a>
        </div>
    </div>
</div>
