<div class="bg-light">
    <nav class="navbar navbar-dark bg-primary">
    <a class="navbar-brand" href="#" style="margin-left: 5px; text-transform: uppercase">
        <img src="assets/images/unsplash.png" width="30" height="30" class="d-inline-block align-top" alt="">
        Unsplash client
    </a>
    </nav>

    <router-outlet></router-outlet>

    <footer class="footer container">
        &copy; 2021 - Josep V. Monjo. Images from <a href="https://unsplash.com">unsplash.com</a>
    </footer>
</div>
